#Python and Machine Learning Bootcamp Project

*   Name - Vishal Yadav 
*   email- vy2336341@gmailcom

# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import pickle

# Import the dataset

In [2]:
df=pd.read_csv("Housing.csv")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [5]:
df.shape

(545, 13)

In [6]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [7]:
df.isna().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [8]:
from pandas._libs.hashtable import value_count
df['furnishingstatus'].value_counts()

semi-furnished    227
unfurnished       178
furnished         140
Name: furnishingstatus, dtype: int64

# Changing the Categorical data to Binary Data (yes=1,no=0)

In [9]:
df=df.replace({'mainroad': {'yes': 1,'no': 0}})

In [10]:
df=df.replace({'basement': {'yes': 1,'no': 0}})
df=df.replace({'guestroom': {'yes': 1,'no': 0}})
df=df.replace({'hotwaterheating': {'yes': 1,'no': 0}})
df=df.replace({'airconditioning': {'yes': 1,'no': 0}})
df=df.replace({'prefarea': {'yes': 1,'no': 0}})

In [11]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,unfurnished
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,semi-furnished
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,unfurnished
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,furnished
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,unfurnished

# Use of One hot Encoding to convert "furnishingstatus" to make numeric/binary data

In [12]:
df=pd.get_dummies(df,columns=['furnishingstatus'])

In [13]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1,0,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1,0,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,0,0,1
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,0,1,0
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,0,0,1
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,1,0,0
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,0,0,1

# Assigning Data to independent variable(X) and dependent variable(y)

In [14]:
X=df.drop("price",axis=1)
y=df["price"]

In [15]:
print(X.shape)
print(y.shape)

(545, 14)
(545,)

#Spliting the dataset into Training and Testing Data

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [17]:
X_train.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
219,7000,3,1,2,1,0,1,0,0,0,0,0,0,1
108,3240,4,1,3,1,0,0,0,0,1,0,0,1,0
63,6360,4,2,3,1,0,0,0,1,2,1,1,0,0
495,4000,3,1,2,1,0,0,0,0,1,0,0,0,1
490,4350,3,1,2,0,0,0,1,0,1,0,0,0,1

#Using the Linear Regression  to Train the Model

In [18]:
model=LinearRegression()

In [19]:
model.fit(X_train,y_train)

LinearRegression()

In [20]:
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
y_pred

array([3376560.77802494, 4149294.20122039, 7066187.41745718,
       6444114.34515628, 3500392.52669152, 3924887.54328483,
       3472410.00337386, 4985569.60680819, 4610405.23810855,
       5362280.90263082, 5015810.38954555, 3423277.54968349,
       5623056.65292133, 4991989.57448599, 3258146.83846696,
       6580171.28000056, 4641234.46578652, 8277990.7814387 ,
       3879230.31800653, 3555561.41865286, 4662146.31650128,
       5622387.27684368, 5896898.63641375, 7162321.43369481,
       4693821.01068235, 5171192.86212308, 4909159.15742463,
       6419749.9580101 , 6420684.11892776, 6086218.80280115,
       4672435.56880432, 6809784.54096198, 5922562.22873553,
       3859781.57319858, 7392115.3923032 , 3149535.17287658,
       4214752.60327417, 3746103.6646507 , 4587346.01170178,
       7649764.70898686, 2698959.48886454, 4781401.42952287,
       7382713.13508167, 5575118.10520961, 3703192.43857855,
       3045551.67447023, 7699530.6384576 , 3579452.16090045,
       2771057.41925663, 8444268.81207152, 3170739.88118296,
       3025486.37285317, 7951582.74104681, 5375529.55706116,
       4214208.52859806, 3976466.20293353, 5366028.64625814,
       2964315.28841285, 4162661.16575821, 5012486.65394265,
       3340078.12843472, 3376216.03454029, 4086046.79440915,
       2969615.4266006 , 3196064.48627376, 5028858.40191875,
       3161819.23822752, 3796951.14912337, 6840708.58623573,
       3053600.2293068 , 2247955.64919109, 6336007.09936456,
       6434756.49429113, 3775904.35535164, 3446895.95623929,
       3965250.24607537, 2765481.30476695, 4710883.08941974,
       5280585.37481971, 4465139.78297587, 4911853.67018888,
       4223672.99201597, 7523865.35659287, 2647943.472914  ,
       4147456.4867018 , 2218643.90807949, 4888049.37123645,
       5553422.34332386, 4065044.40727316, 6396194.80442042,
       3015056.14409875, 3377331.25649893, 4328392.26704599,
       4494936.69206545, 3269610.09148683, 4722559.36155265,
       4190115.17024591, 6347975.82358952, 5651723.98337053,
       3607243.04150954, 2723981.86795432, 3199225.0930353 ,
       3468243.31538529, 4314483.44125744, 3679128.68323701,
       6727222.04084659, 9919980.47457207, 5813986.48314288,
       6293957.81753854])

In [21]:
y_test

489     2835000
302     4200000
66      6930000
270     4340000
515     2450000
         ...
303     4200000
103     6195000
6      10150000
128     5873000
139     5740000
Name: price, Length: 109, dtype: int64

In [22]:
r2_score(y_test, y_pred)

0.6585429213347457

In [23]:
# model.intercept_

In [24]:
# arr=np.array([])

li=[7000,4,	1,	2,	1,	0,	1,	0,	0,	0,	0,	0,	0,	1]

model.predict([li])

c:\python tutorial\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([4642692.74878281])

In [27]:
with open('model.pkl','wb') as files:
    pickle.dump(model,files)